# IDE
.idea/
.vscode/
.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Composer
/vendor/

# Builds
/dist/
/build/

# Temp & Log
*.tmp
*.temp
*.log

# Wordpress
/woostify-stylesheet/
/uploads/
/languages/
/themes/*
/plugins/*
!/themes/heros/
!/plugins/_themename-metaboxes/
/index.php
